.divFooter{
    font-family: "Rubik";
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.footerDiv4{
    font-family: "Rubik";
}
.footerDiv1{
    width: 33%;
    text-align: center;
}
.footerDiv1H3{
    text-decoration: underline;
}
.footerDiv1P{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.633);
}
.footerDiv2{
    width: 33%;
    text-align: center;
}
.footerPoint{
    margin-right: 10%;
}
.footerDiv2Div{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.footerDiv3{
    width: 33%;
    text-align: center;
}
.footerDiv4{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    margin-left: 5%;
    margin-right: 5%;
}
.footerDiv3I{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 11px;
    margin-right: 4%;
    cursor: pointer;
    
}
.footerDiv3I:hover{
    background-color: white;
    color: black;
}
.fb{
    padding: 10px 13px;
}